.reveal .slides {
    text-align: left;
}
.reveal .slides section>* {

}

h2#working-with-collections-of-objects {
  margin-left: 300px;
  margin-right: 10px;
  color: red;
}

.photo-caption {
  color: black;
  size: 50%;
  margin-left: 300px;
}
